doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-light.bg-light
      .navbar-brand xmToolbox Sync
      a.navbar-brand 
        img(src='/images/xmatters.png', alt='xMatters', style='width:150px;height:50px')
    .container
      .main-content
        block content